<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aura.ValidValues.MaterialP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Aura.Controls.Resources.Users" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
      <Aura.Properties.Settings>
        <setting name="ImportMaterialPath" serializeAs="String">
          <value />
        </setting>
        <setting name="ExportMaterialPath" serializeAs="String">
          <value />
        </setting>
        <setting name="GCodeDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="ModelDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="ProjectDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="Inset0Color" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="MicroInfillColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="InsetXPColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="InfillSolidColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="InfillCellularColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="SupportThinColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="SupportThickColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="SkirtColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="BrimColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="WipeColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="InsetXFColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="TravelColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="MovePColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="MovePFColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="ExtrudePColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="ExtrudePFColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="RetractColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="CutColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="Inset0Show" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="MicroInfillShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="InsetXPShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="InfillSolidShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="InfillCellularShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SupportThinShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SupportThickShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SkirtShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="BrimShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="WipeShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="InsetXFShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="TravelShow" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="MovePShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="MovePFShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExtrudePShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ExtrudePFShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="RetractShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="CutShow" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="NeedUpgrade" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="FirmwareDirectory" serializeAs="String">
          <value />
        </setting>
        <setting name="FiberInfillColor" serializeAs="String">
          <value>#00000000</value>
        </setting>
        <setting name="InfillFiberShow" serializeAs="String">
          <value>True</value>
        </setting>
      </Aura.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Windows.Design.Extensibility" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Aura.ValidValues.MaterialP>
      <setting name="Name" serializeAs="String">
        <value>Plastic material</value>
      </setting>
    </Aura.ValidValues.MaterialP>
    <Aura.Controls.Resources.Users>
      <setting name="ExportMaterialPDirectory" serializeAs="String">
        <value />
      </setting>
    </Aura.Controls.Resources.Users>
  </applicationSettings>
</configuration>
